.schedule-section {
  justify-content: stretch !important;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  scroll-snap-align: start;
}


.date-holder {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 0.5rem;
  justify-content: start !important;
  height: 25rem !important;
}

.topdate-holder {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0 !important;
}

.month_year {
  width: 70% !important;
}

.date {
  width: 50vw !important;
  grid-column: 1/2;
  grid-row: 2/4;

  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
  justify-content: stretch !important;
  align-items: stretch !important;
  height: 20rem;
  overflow-y: scroll !important;
  scroll-snap-type: y mandatory !important;
  box-shadow: none !important;
  border-radius: 1.5rem !important;
}


/*Stats Data*/
.stats-holder {
  width: auto !important;
  height: 100%;
  justify-content: end !important;
  align-items: center !important;
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}

.box-holder {
  justify-content: start !important;
  align-content:center !important;
  gap: 1rem;
}

.box-holder div {
  display: flex;
  width: 12rem !important;
  height: 4rem !important;
  flex-direction: row !important;
  border-radius: 5rem !important;
  gap: 0 1rem;
}

.box-holder div h1 {
  font-size: 1.5rem !important;
}

.lower-box {
  margin: 0 !important;
  border-radius: 0 !important;
  background: none !important;
  justify-content: end !important;
  border: none !important;
}

.lower-box .lb-head {
  display: none;
}